// -----------------------------------------------------------------------------
// This file contains all styles related to the common layout of the site
// -----------------------------------------------------------------------------

body {
  background-color: $body-bg;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: $container-max-width;
  width: 100%;
  margin: 0 auto;
  padding-left: $gutter;
  padding-right: $gutter;
}

.page-holder {
  flex-grow: 1;
}

.section {
  padding: 30px 0;
}

img {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}