.projects {
  &-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 15px;

    &-item {
      width: 100%;
      padding: 0 15px;
      margin-bottom: 30px;

      @include media('>=tablet') {
        width: 50%;
      }
    }
  }
}