
// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels

$breakpoints: (
  'xs-phone': 320px,
  'phone': 520px,
  'tablet': 768px,
  'desktop': 1024px,
  'laptop': 1480px,
  'widescreen': 1920px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);


// Color system

$white: #fff;
$black: #000;
$gray-100: #ecf0f1;
$gray-200: #bdc3c7;
$gray-300: #95a5a6;
$gray-400: #7f8c8d;
$gray-500: #34495e;
$gray-600: #2c3e50;
$teal: #1abc9c;
$teal-dark: #16a085;
$purple: #9b59b6;
$purple-dark: #8e44ad;
$blue: #3498db;
$blue-dark: #2980b9;

$primary: $teal-dark;
$secondary: $purple;
$dark: $gray-600;
$light: $gray-100;
$gray: $gray-300;


// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $black;
$yiq-text-light: $white;

// body
//
// settings for the `<body>` element.

$body-bg: $light;
$body-color: $dark;


$link-color: $primary;
$link-decoration: none;
$link-hover-color: darken($primary, 10%);
$link-hover-decoration: none;

// border radius
$rounded-circle: 50%;
$border-radius: 8px;
$border-radius-lg: 16px;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif: 'Poppins', sans-serif;
$font-family-sans-serif-secondary: $font-family-sans-serif;
$font-family-base: $font-family-sans-serif;
$base-font-path: '../fonts';

$line-height-base: 1.5;
$rem-base: 10px;


// container max width, used for .container element
$gutter: 15px;
$container-max-width: 1140px + $gutter * 2;


// Variables for @include fluid-type mixin;
// This mixin allow fonts to grow from $min viewport width to $max viewport width between sizes that are provided
//
$fluid-min: map-get($breakpoints, 'xs-phone');
$fluid-max: map-get($breakpoints, 'widescreen');

$font-weight-thin: 100;
$font-weight-ulight: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-heavy: 800;
$font-weight-black: 900;


$font-sizes: (
  'xl': 20px,
  'lg': 18px,
  'base': 16px,
  'md': 14px,
  'sm': 12px,
);

$font-sizes-max: (
  'xl': 20px,
  'lg': 18px,
  'base': 16px,
  'md': 14px,
  'sm': 12px,
);

$headings-sizes: (
  'h1': 40px,
  'h2': 26px,
  'h3': 22px,
  'h4': 20px,
  'h5': 18px,
  'h6': 16px,
);

$headings-sizes-max: (
  'h1': 40px,
  'h2': 36px,
  'h3': 32px,
  'h4': 30px,
  'h5': 28px,
  'h6': 26px,
);

$headings-margin-bottom: 1em;
$headings-font-weight: inherit;
$headings-line-height: 1.2;

// Paragraphs

$paragraph-margin-bottom: 1.5em;

// Base transition function
$transition-duration-base: 0.35s;
$transition-easing-base: cubic-bezier(0.3, 0.86, 0.36, 0.95);

