<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <title>Nikita Golovchenko</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>

<body class="body">
  <div class="wrapper">
    <header class="header">
      <div class="container">
        <div class="logo">
          <a href="https://github.com/nikitagolovchenko">
            <img src="images/logo.png" alt="Nikita Golovchenko">
          </a>
        </div>
      </div>
    </header>

    <div class="page-holder">
      <main class="main">
        <section class="hero section">
          <div class="container">
            <h1>Nikita Golovchenko</h1>
            <ul class="social-networks">
              <li>
                <a href="https://github.com/nikitagolovchenko" class="icon-github" target="_blank" title="github"></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/nikita-golovchenko" class="icon-linkedin" target="_blank" title="linkedin"></a>
              </li>
            </ul>
          </div>
        </section>
        <section class="projects section">
          <div class="container">
            <h2>Front-end projects:</h2>
            <div class="projects-list">
              <div class="projects-list-item">
                <article class="card">
                  <a href="images/project-01-01.jpg" class="card-img" data-fancybox="gallery-01">
                    <img src="images/project-01-preview.jpg" alt="Weather app with React and OpenWeather API">
                    <span class="preview-icon icon-eye"></span>
                  </a>
                  <div class="card-gallery">
                    <a href="images/project-01-02.jpg" data-fancybox="gallery-01"></a>
                    <a href="images/project-01-03.jpg" data-fancybox="gallery-01"></a>
                  </div>
                  <div class="card-body">
                    <ul class="tag-list">
                      <li class="tag-list-item">
                        <span class="tag">react</span>
                      </li>
                      <li class="tag-list-item">
                        <span class="tag">redux</span>
                      </li>
                      <li class="tag-list-item">
                        <span class="tag">redux-persist</span>
                      </li>
                      <li class="tag-list-item">
                        <span class="tag">typescript</span>
                      </li>
                      <li class="tag-list-item">
                        <span class="tag">openweathermap-api</span>
                      </li>
                      <li class="tag-list-item">
                        <span class="tag">moment-js</span>
                      </li>
                      <li class="tag-list-item">
                        <span class="tag">material-ui</span>
                      </li>
                    </ul>
                    <h3>Weather app with React and OpenWeather API</h3>
                  </div>
                  <div class="card-footer">
                    <a href="https://nikitagolovchenko.github.io/test-tasks-weather/" class="btn btn-primary" target="_blank">Preview site</a>
                    <a href="https://github.com/nikitagolovchenko/test-tasks-weather" class="btn btn-secondary" target="_blank">View code</a>
                  </div>
                </article>
              </div>
              <div class="projects-list-item">
                <article class="card">
                  <a href="images/project-02-01.jpg" class="card-img" data-fancybox="gallery-02">
                    <img src="images/project-02-preview.jpg" alt="Todo app with React and Firebase">
                    <span class="preview-icon icon-eye"></span>
                  </a>
                  <div class="card-gallery">
                    <a href="images/project-02-02.jpg" data-fancybox="gallery-02"></a>
                    <a href="images/project-02-03.jpg" data-fancybox="gallery-02"></a>
                    <a href="images/project-02-04.jpg" data-fancybox="gallery-02"></a>
                    <a href="images/project-02-05.jpg" data-fancybox="gallery-02"></a>
                  </div>
                  <div class="card-body">
                    <ul class="tag-list">
                      <li class="tag-list-item">
                        <span class="tag">react</span>
                      </li>
                      <li class="tag-list-item">
                        <span class="tag">redux</span>
                      </li>
                      <li class="tag-list-item">
                        <span class="tag">typescript</span>
                      </li>
                      <li class="tag-list-item">
                        <span class="tag">firebase</span>
                      </li>
                      <li class="tag-list-item">
                        <span class="tag">react-transition-group</span>
                      </li>
                      <li class="tag-list-item">
                        <span class="tag">material-ui</span>
                      </li>
                    </ul>
                    <h3>Todo app with React and Firebase</h3>
                  </div>
                  <div class="card-footer">
                    <a href="https://nikitagolovchenko.github.io/react-todo/" class="btn btn-primary" target="_blank">Preview site</a>
                    <a href="https://github.com/nikitagolovchenko/react-todo" class="btn btn-secondary" target="_blank">View code</a>
                  </div>
                </article>
              </div>
              <div class="projects-list-item">
                <article class="card">
                  <a href="images/project-04-01.jpg" class="card-img" data-fancybox="gallery-04">
                    <img src="images/project-04-preview.jpg" alt="Aviasales tickets filtering test task with React">
                    <span class="preview-icon icon-eye"></span>
                  </a>
                  <div class="card-gallery">
                    <a href="images/project-04-02.jpg" data-fancybox="gallery-04"></a>
                  </div>
                  <div class="card-body">
                    <ul class="tag-list">
                      <li class="tag-list-item">
                        <span class="tag">react</span>
                      </li>
                      <li class="tag-list-item">
                        <span class="tag">redux</span>
                      </li>
                      <li class="tag-list-item">
                        <span class="tag">typescript</span>
                      </li>
                      <li class="tag-list-item">
                        <span class="tag">material-ui</span>
                      </li>
                      <li class="tag-list-item">
                        <span class="tag">test-api</span>
                      </li>
                    </ul>
                    <h3>Aviasales tickets filtering test task with React</h3>
                  </div>
                  <div class="card-footer">
                    <a href="https://nikitagolovchenko.github.io/test-tasks-aviasales/" class="btn btn-primary" target="_blank">Preview site</a>
                    <a href="https://github.com/nikitagolovchenko/test-tasks-aviasales" class="btn btn-secondary" target="_blank">View code</a>
                  </div>
                </article>
              </div>
              <div class="projects-list-item">
                <article class="card">
                  <a href="images/project-05-01.jpg" class="card-img" data-fancybox="gallery-05">
                    <img src="images/project-05-preview.jpg" alt="REST Countries API with color theme switcher challenge with React">
                    <span class="preview-icon icon-eye"></span>
                  </a>
                  <div class="card-gallery">
                    <a href="images/project-05-02.jpg" data-fancybox="gallery-05"></a>
                    <a href="images/project-05-03.jpg" data-fancybox="gallery-05"></a>
                    <a href="images/project-05-04.jpg" data-fancybox="gallery-05"></a>
                    <a href="images/project-05-05.jpg" data-fancybox="gallery-05"></a>
                  </div>
                  <div class="card-body">
                    <ul class="tag-list">
                      <li class="tag-list-item">
                        <span class="tag">react</span>
                      </li>
                      <li class="tag-list-item">
                        <span class="tag">redux-toolkit</span>
                      </li>
                      <li class="tag-list-item">
                        <span class="tag">typescript</span>
                      </li>
                      <li class="tag-list-item">
                        <span class="tag">react-router-dom-v6</span>
                      </li>
                      <li class="tag-list-item">
                        <span class="tag">styled-components</span>
                      </li>
                      <li class="tag-list-item">
                        <span class="tag">react-select</span>
                      </li>
                      <li class="tag-list-item">
                        <span class="tag">react-icons</span>
                      </li>
                      <li class="tag-list-item">
                        <span class="tag">axios</span>
                      </li>
                      <li class="tag-list-item">
                        <span class="tag">restcountries-api</span>
                      </li>
                    </ul>
                    <h3>REST Countries API with color theme switcher challenge with React</h3>
                  </div>
                  <div class="card-footer">
                    <a href="https://nikitagolovchenko.github.io/react-rest-countries-api-challenge/" class="btn btn-primary" target="_blank">Preview site</a>
                    <a href="https://github.com/nikitagolovchenko/react-rest-countries-api-challenge" class="btn btn-secondary" target="_blank">View code</a>
                  </div>
                </article>
              </div>
            </div>
            <div class="text-center">
              <a href="https://github.com/nikitagolovchenko" class="btn btn-primary btn-lg" target="_blank">See more projects on GitHub</a>
            </div>
          </div>
        </section>
      </main>
    </div>

    <footer class="footer">
      <div class="container">
        <p>Nikita Golovchenko - 2021</p>
      </div>
    </footer>
  </div>
</body>

</html>
